{
  "singleQuote": true,
  "semi": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 800000,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "endOfLine": "auto",
  "jsxSingleQuote": true
}
